<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
      <connectionStrings>
            <add name="baza" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\shapo\source\repos\Сервис\Сервис\Bd.mdf;Integrated Security=True" />
            <add name="Сервис.Properties.Settings.Учет_автоConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Учет авто.accdb&quot;" providerName="System.Data.OleDb" />
            <add name="Сервис.Properties.Settings.Database4ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database4.mdb" providerName="System.Data.OleDb" />
      </connectionStrings>
</configuration>
